
  .AIMessage {
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
  margin-left: 16.5%;
  background-color: #e1ffc7;
  align-self: flex-start;
  height: fit-content;
  }
  
.userMessage {
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
  margin-right: 16.5%;
  background-color: #26e787;
  align-self: flex-end;
  height: fit-content;
}
  
  /* Styles for the button containing the image */
.send-button {
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer on hover */
  padding: 0; /* Remove padding */
  margin-left: 10px; /* Space between input and button */
  margin-right: 60px; /* Space between button and screen end*/
}

/* Ensure the image fits well */
.send-button img {
  width: 30px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  display: block; /* Prevent any extra spacing */
}
  

  .chatbuttons {
    display: flex;
    background-color: white;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px
  }

