  /* Styles for the button containing the image */
.send-button {
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer on hover */
  padding: 0; /* Remove padding */
  margin-left: 10px; /* Space between input and button */
  margin-right: 60px; /* Space between button and screen end*/
}

/* Ensure the image fits well */
.send-button img {
  width: 30px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  display: block; /* Prevent any extra spacing */
}
  

  .chatbuttons {
    display: flex;
    background-color: white;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px
  }

