@import "chatWindow.css";
@import "Login.css";
@import "titleModal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e2e8f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bdbaba;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c9b9b;
}


