@import "App.css";
@import "chatWindow.css";
@import "Login.css";
@import "titleModal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-app1 {
    flex: 3; /* Allow it to grow and fill available space */
    display: flex; /* Enable flexbox for column layout */
    flex-direction: column; /* Arrange children in a column */
    height: 100vh; /* Full height of the viewport */
    border: 1px solid #ccc; /* Border for visibility */
    background-color: #f9f9f9;
    flex-grow: 1; /* Allow chat-app1 to take available space */
    overflow: hidden; /* Prevent overflow */
    transition: flex-basis 0.3s ease; /* Smooth transition when resizing */
  }

  /* flex flex-col flex-1 transition-margin-left ${isMenuOpen ? 'ml-80' : 'ml-0'} */



